// Font

$font1 : 'Open Sans', sans-serif;
$font2 : 'Montserrat', sans-serif;

// Color

$black : #000000;
$white : #ffffff;


$gray1 : #F1F3F4;
// $sidebar-bg : #F4F7FC;
$sidebar-bg : #e9ecef;

$text1 : #6c757d!important;
$title : rgb(66, 66, 66);

// $sidebar-bg : #f5f8fa;

$border1 : #e9ecef;

$border2 : #eee;
// Shadow

$nav-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);

$card-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1);

$border-radious: .1875rem;

$green : #18ce0f;
$red : #FF3636;
$danger : #f5222d;

// Border
$color1 : #1890ff;
$color2 : #e6f7ff;